/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Voltaire&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d8b9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Voltaire', sans-serif;
}

h1 {
    font-family: 'Creepster', cursive;
}

#game-area {
    perspective: 1000px;
}

.easy {
    display: grid;
    grid-template-columns: repeat(4, 20vh);
    grid-template-rows: repeat(3, 20vh);
    grid-gap: 30px;
}

.medium {
    display: grid;
    grid-template-columns: repeat(4, 20vh);
    grid-template-rows: repeat(4, 20vh);
    grid-gap: 30px;
}

.hard {
    display: grid;
    grid-template-columns: repeat(4, 20vh);
    grid-template-rows: repeat(5, 20vh);
    grid-gap: 30px;
}

.card {
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    position: relative;
}

.face,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.back {
    background: #b2b2c0;
    backface-visibility: hidden;
}

.face {
    background-color: #b2b2c0;
    text-align: center;
    padding: 5px;
    transform: scaleX(-1);
}

.flipCard {
    transform: rotateY(180deg);
}

#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b2b2c0;
    height: 40vh;
    width: 40vw;
    position: relative;
}

#about,
#instructions {
    position: absolute;
}

/* Button styling inspired button 50 by Scoot on https: //getcssscan.com/css-buttons-examples */
.btn {
    background-color: #434b4b;
    border: 1px solid #434b4b;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,
        #434b4b 4px 4px 0 1px;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b2b2c0;
    height: 40vh;
    width: 40vw;
}

.hidden {
    display: none;
}

.match {
    pointer-events: none;
}