* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d8b9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(5, 8rem);
    grid-gap: 2rem;
}

.card {
    background-color: #b2b2c0;
    border-radius: 17px;
    position: relative;
}

.face,
.back {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    position: absolute;
}

.back {
    background-color: black;
}

/*
.modal {
    display: none;
}
*/